<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
    </head>

    <body>
        <h1><%= header %></h1>

        <h2>Animals:</h2>

        <ul>
            <% animals.forEach(animal => { %>
                <li><%= animal %></li>
            <% }) %>
        </ul>
    </body>
</html>